body{
	background-color: oldlace;
}
.header{
	position: absolute;
	font-family: sans-serif;
	font-size: 50px;
	left: 100px;
	top: 50px;
}
.plant1{
	position: absolute;
	left: 1100px;
}
.divider{
	position: absolute;
	max-width: 1300px;
	height: 3px;
  	color: black;
  	top: 60px;
}
.quote1{
	position: absolute;
	font-size: 30px;
	max-width: 400px;
  	background: #f0d1ff;
	border-radius: 10px;
	text-align: center;
	padding: 45px;
	top: 350px;
	left: 70px;
	height: 200px;
}
.quote2{
	position: absolute;
	font-size: 30px;
	max-width: 400px;
  	background: #f0d1ff;
	border-radius: 10px;
	text-align: center;
	padding: 45px;
	left: 600px;
	top: 350px;
	height: 200px;
}
.bigBox{
	position: absolute;
	font-family: sans-serif;
	font-size: 40px;
	width: 1200px;
  	background: #abcdab;
	border-radius: 10px;
	text-align: center;
	padding: 70px;
	top: 800px;
	left: 50px;
	right: 50px;
}
.plant2{
	position: absolute;
	top: 1200px;
	left: 50px;
}
.video{
	position: absolute;
	top: 1200px;
	left: 575px;
}
.goodDay{
	position: absolute;
	top: 1450px;
	left: 575px;
}
img{
	position: relative;
}
.plant3{
	position: relative;
	top: 1200px;
	left: 1000px;
}